body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

#status {
    margin-bottom: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

th {
    background: #2d6cdf;
    color: white;
}

tr:hover {
    background: #f0f4ff;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #266cdf;
    color: white;
    font-size: 14px;
}

button:hover {
    background: #c85f2b;
}

/* Modal */
.modal-bg {
    position: fixed;
    top: 0; left: 0;
    width: 100vh; height: 100vh;
    background: rgba(0,0,0,0.4);
    display: none; /*hidden by default*/
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/*centered modal box*/
.modal {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.modal input {
    width: 90%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal h3 {
    margin-top: 0;
}

.close-btn {
    background: #aaa;
}

.close-btn:hover {
    background: #888;
}